@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right d-flex flex-row align-items-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    @{ 

                        // Get claims from ClaimsPrincipal
                        var user = HttpContext.Current.User as System.Security.Claims.ClaimsPrincipal;
                        var firstName = user?.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value ?? "";
                        var lastName = user?.Claims.FirstOrDefault(c => c.Type == "LastName")?.Value ?? "";
                        var fullName = $"{firstName} {lastName}".Trim();
                        var displayName = string.IsNullOrEmpty(fullName) ? User.Identity.Name : fullName;
                        // Get RoleId claim
                        var currentUserRole = user?.Claims.FirstOrDefault(c => c.Type == "RoleId")?.Value ?? "";
                        // Optionally map RoleId to role name if needed (see below for mapping)
                        // var roleName = GetRoleName(currentUserRole);
                    }

                    Hello @Html.Raw(HttpUtility.HtmlEncode(displayName))!
                    @if (!string.IsNullOrEmpty(currentUserRole))
                    {
                        <small class="text-muted">(@currentUserRole)</small>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    @Html.ActionLink("Profile", "Profile", "Account", null, new { @class = "dropdown-item" })
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
                        <i class="fas fa-sign-out-alt"></i> Log off
                    </a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}

<style>
    .navbar-nav.d-flex {
        display: flex;
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        display: inline-flex;
        align-items: center;
    }

    .navbar-nav .nav-link {
        padding: 0 6px;
        display: inline-block;
        color: #fff; /* Match your theme */
        text-decoration: none;
    }

        .navbar-nav .nav-link:hover {
            text-decoration: underline;
        }

    .navbar-nav .separator {
        color: #fff; /* Match your theme */
        padding: 0 6px;
    }

    .navbar-nav .nav-link-submit {
        background: none;
        border: none;
        padding: 0 6px;
        color: #fff; /* Match your theme */
        font: inherit; /* Inherit font from parent */
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        appearance: none; /* Remove browser-specific styling */
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .navbar-nav .nav-link-submit:hover {
            text-decoration: underline;
        }
</style>